@value mainColor from '../style/base/variables.module.css';
@value white from '../style/base/variables.module.css';
@value fontFamilyContent from '../style/base/variables.module.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: mainColor;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 768px;
    margin: 0 auto;
    padding: 50px 16px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}